.settings {

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__params {
    display: flex;
    gap: 10px;
    flex-direction: column;

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__text {
        font-size: 1.2em;
      }

      &__form-currency {
        width: 60%;

        &__flag {
          width: 50%;
          border-radius: 2px;
        }
      }
    }
  }
}