.settings {

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__params {
    display: flex;
    gap: 10px;
    flex-direction: column;

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__text {
        font-size: 1.2em;
      }

      &__form-currency,
      &__form-language {
        width: 60%;

        &__flag {
          width: 50%;
          border-radius: 2px;
        }

        &__content{
          display: flex;
          justify-content: space-between;
          padding: 0 12px 0;
          align-items: center;
          flex-direction: row;
          flex-wrap: nowrap;

          &__flag {
            width: 28px;
            height: 20px;
          }
        }
      }
    }
  }
}

.settings-dialog {
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}