[tuiTh],
[tuiTd] {
    border-inline-start: none;
    border-inline-end: none;
    border-top: none;
    // border-bottom: none;
    // padding: 2px;
}
 
[tuiTable][data-size='s'] [tuiTitle] {
    flex-direction: row;
    gap: 0.375rem;
}
 
[tuiTd] > tui-items-with-more {
    gap: 0.25rem;
    max-width: 110px;
}

.transactions {
  &__wrapper {
  }

  &__options {
  }

  &__table-wrapper {
    // overflow: hidden;
  }

  &__table {
    width: 100%;

    &__th {
      padding: 4px;
    }

    &__td {
      padding: 4px;
      border-bottom: none;

      &__info {
        display: flex;
        flex-direction: column;
        gap: .25em;

        &__main-text {
        }

        &__sub-text {
          font-size: .7em;
          line-height: 1em;
        }
      }

      &__actions {
        display: inline-flex;
        gap: 6px;

        &__button-delete {
          color: var(--tui-error-fill);
        }

        &__button-edit {
          color: var(--tui-link);
        }

        &__button-cancel {
          color: var(--tui-accent);
        }

        &__button-confirm {
          color: var(--tui-success-fill);
        }
      }
    }
  }
}