<div class="analytics__wrapper">
  <h2>Analytics</h2>

  <div class="analytics__date-selector">
    <button
    iconRight="tuiIconCalendar"
    appearance="destructive"
    tuiButton
    type="button"
    [tuiDropdown]="dropdownContent"
    [tuiDropdownManual]="open"
    (click)="onDateSelectClick()"
    (tuiActiveZoneChange)="onDateActiveZone($event)"
    (tuiObscured)="onDateObscured($event)"
>
     {{ calendarValue.to !== calendarValue.from ? calendarValue.from + '-' + calendarValue.to : calendarValue.from }}
    <ng-template #dropdownContent>
      <tui-calendar-range
        (valueChange)="onRangeChange($event)"
        [value]="calendarValue"
        [items]="items">
      </tui-calendar-range>
    </ng-template>
</button>
  </div>

  <div class="analytics__items">
    <tui-island class="analytics">
      <tui-ring-chart
        [value]="value"
        [(activeItemIndex)]="activeItemIndex">
        <tui-money
            [singleColor]="true"
            [value]="sum"
            currency="₾"
        ></tui-money>
        <div>Total</div>
      </tui-ring-chart>

      <div class="legend">
        <tui-legend-item
          *ngFor="let label of labels; let index = index"
          size="s"
          class="item"
          [active]="isItemActive(index)"
          [color]="getColor(index)"
          [text]="label"
          (tuiHoveredChange)="onHover(index, $event)">
          <tui-money
            [singleColor]="true"
            [value]="value[index]">
          </tui-money>
        </tui-legend-item>
      </div>
    </tui-island>
  </div>
</div>