:host {
  --tui-chart-0: var(--tui-support-01);
  --tui-chart-1: var(--tui-support-02);
  --tui-chart-2: var(--tui-support-03);
  --tui-chart-3: var(--tui-support-04);
  --tui-chart-4: var(--tui-support-05);
  --tui-chart-5: var(--tui-support-06);
  --tui-chart-6: var(--tui-support-07);
  --tui-chart-7: var(--tui-support-08);
  --tui-chart-8: var(--tui-support-09);
  --tui-chart-9: var(--tui-support-10);
}

.analytics {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__date-selector {
      width: 100%;
    }

    &__group {
      width: 100%;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
