<div class="analytics__wrapper">
  <h2>Analytics</h2>

  <div class="analytics__buttons">
    <button
    class="analytics__buttons__date-selector"
    iconRight="tuiIconCalendar"
    appearance="destructive"
    tuiButton
    size="m"
    type="button"
    [tuiDropdown]="dropdownContent"
    [tuiDropdownManual]="open"
    (click)="onDateSelectClick()"
    (tuiActiveZoneChange)="onDateActiveZone($event)"
    (tuiObscured)="onDateObscured($event)"
    tuiDropdownAlign="center"
    [tuiDropdownLimitWidth]="'fixed'"
    [tuiDropdownOffset]="10"
    [tuiDropdownMaxHeight]="500">
     {{ calendarValue.to !== calendarValue.from ? calendarValue.from + '-' + calendarValue.to : calendarValue.from }}
      <ng-template #dropdownContent>
        <tui-calendar-range
          (valueChange)="onRangeChange($event)"
          [value]="calendarValue"
          [items]="items">
        </tui-calendar-range>
      </ng-template>
    </button>

    <div
    tuiGroup
    class="analytics__buttons__group"
    [adaptive]="false"
    [collapsed]="true">
      <tui-radio-block
        [item]="expenceItem"
        size="s"
        [formControl]="expenceForm"
        [hideRadio]="true">
        Expence
      </tui-radio-block>
      <tui-radio-block
        [item]="incomeItem"
        size="s"
        [formControl]="expenceForm"
        [hideRadio]="true">
        Income
      </tui-radio-block>
    </div>
  </div>

  <div class="analytics__items">
    <app-analytics-ring-legend
      [labelsOfExpences]="labelsOfExpences"
      [sumsOfExpences]="sumsOfExpences"
      [total]="total">
    </app-analytics-ring-legend>

    <app-analytics-line-days
      [labelsOfExpences]="labelsOfExpences"
      [sumsOfExpences]="sumsOfExpences">
    </app-analytics-line-days>
  </div>
</div>