<div class="header__wrapper">
  <nav tuiGroup [collapsed]="true" class="header__buttons">
    <button
      appearance="secondary-destructive"
      tuiIconButton
      size="m"
      icon="tuiIconPlusLarge"
      type="button"
      class="header__button"
      routerLink="/">
    </button>

    <button
      appearance="secondary-destructive"
      tuiIconButton
      size="m"
      icon="tuiIconDollarSignLarge"
      type="button"
      class="header__button"
      routerLink="/funds">
    </button>

    <button
      appearance="secondary-destructive"
      tuiIconButton
      size="m"
      icon="tuiIconBarChart2Large"
      type="button"
      class="header__button"
      routerLink="/analytics">
    </button>

    <button
      appearance="secondary-destructive"
      tuiIconButton
      size="m"
      icon="tuiIconSettingsLarge"
      type="button"
      class="header__button tui-group__auto-width-item"
      routerLink="/settings">
    </button>
  </nav>
</div>
