<div class="header-wrapper">
  <nav class="header-buttons">
    <button
      appearance="secondary-destructive"
      tuiIconButton
      icon="tuiIconPlusLarge"
      type="button"
      class=""
      routerLink="/"
      >
    </button>

    <button
      appearance="secondary-destructive"
      tuiIconButton
      icon="tuiIconDollarSignLarge"
      type="button"
      class=""
      routerLink="/funds"
      >
    </button>

    <button
      appearance="secondary-destructive"
      tuiIconButton
      icon="tuiIconBarChart2Large"
      type="button"
      class=""
      routerLink="/analytics"
      >
    </button>
  </nav>

  <div class="header-settings">
    <button
      appearance="secondary-destructive"
      tuiIconButton
      icon="tuiIconSettingsLarge"
      type="button"
      class=""
      routerLink="/settings"
      >
    </button>
  </div>
</div>
