
<tui-island class="analytics">
	<tui-axes
    *ngIf="computeLabels$(range) | async as labels"
    class="analytics__axes"
    [axisXLabels]="labels"
    [horizontalLines]="4"
    [verticalLines]="labels.length"
>
    <tui-line-days-chart
        class="analytics__axes__line-chart"
        [height]="200"
        [value]="value"
        [xStringify]="xStringify$ | async"
        [yStringify]="yStringify"
    ></tui-line-days-chart>
  </tui-axes>
</tui-island>

<div>
  <br>
  {{ labelsOfExpences | json }}
  <br>
  {{ sumsOfExpences | json }}
</div>
