.main__wrapper {
  display: flex;
  justify-content: center;

  .main__form {
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 2px solid #aaa1;
    border-radius: 16px;

    .main__type {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      gap: 20px;

      &--header {
        color: var(--tui-primary);
      }

      &--group {
        width: inherit;
      }
    }

    .main__display {
      width: 100%;
    }

    .main__options {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}

.datepicker-dialog {
  &__calendar {}

  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}

.comment-dialog {

  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}

.categories-dialog {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    gap: 5px;
}