.main__wrapper {
  display: flex;
  justify-content: center;

  .main__form {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 16px;

    .main__type {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      gap: 20px;

      &--header {
        color: var(--tui-primary);
      }

      &--group {
        width: inherit;
      }
    }

    .main__display {
      width: 100%;

      &--value {
        .t-textfield {
          font-size: 1.5em;
        }
      }
    }

    .main__options {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}

.datepicker-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__calendar {}

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.comment-dialog {

  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}

.categories-dialog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}